.MuiAppBar-root.open{
  margin-left: 240px;
  width: calc(100% - 240px);
  transition: width 225ms;
}
.main{
  margin: 64px 24px 0px;
  height: calc(100vh - 64px);
}
.main.opened{
  margin-left: 240px;
  width: calc(100% - 240px);
  transition: width 225ms;
}